* {
    margin: 0;
    padding: 0;
  }
  body {
    /* background: #ecf1f4; */
    font-family: sans-serif;
  }
  
  .form-wrap {
    width: 399px;
    padding: 10px 20px;
    height: 820px;
     margin:-70px 0px 0px 47px; 
    /* margin-left: 71%; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    position: fixed;
    top: 10%;
    /* left: 100%; */
    left:70%;
    z-index: 100;
    background-color: #fff;
    /* position: fixed; */
  }
  #checkout{
    font-size: 15px;
    color: #3b3838;
    margin-left: 25px;
  }
  #formhead {
    text-align: center;
    font-weight: normal;
    margin-bottom: 20px;
    font-weight: bolder;
  }
  
  input {
    width: 100%;
    background: none;
    border-radius: 3px;
    padding: 20px 25px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 16px;
    border: 0.1px solid rgb(207, 206, 206);
    outline: none;
    font-weight: bold;
    
  }
  
  #submit {
    background: #238ecd;
    border: 0;
    cursor: pointer;
    border-color: #238ecd;
    color: #fff;
    padding: 6px;
    width: 90%;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-left: 8%;
    margin-top: 20px;
    font-family: circularairpro-bold,Helvetica,Arial,sans-serif;
  }
  #submit {
    background: #238ecd;
    transition: 0.6s;
  }
  #submit:focus {
    outline: none;
}

#submit:hover {
    transform: scale(1.1);
    background-color: #67b8e7;;
}
  #submit2 {
    background: #a4b15c;
    border: 0;
    cursor: pointer;
    color: #3e3d3d;
    padding: 6px;
    width: 80%;
    margin-bottom: 20px;
    font-size: 25px;
    /* font-weight: bold; */
    text-align: center;
    margin-left: 8%;
    font-family: circularairpro-bold,Helvetica,Arial,sans-serif;
  }
  #submit2 {
    background: #2f9bdb;
    transition: 0.6s;
  }
  
  #formlevel {
    font-size: 1rem;
    padding-right: 10px;
    font-family: sans-serif;
  }
  
  #typeofroom,
  #noofperson {
    font-size: 0.9rem;
    padding: 2px 5px;
    width: 100%;
    background: none;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  #displayamount {
    display: flex;
    gap: 14%;
  }
  
  