
*{
    margin: 0;
    padding: 0;
}
.footer1{
    display: grid;
    grid-template-columns: repeat(5,auto);
    width: 99%;
    gap: 10px;
    margin-top: 30px;
 
}
.footer1>div{
    margin-top: 20px;
    width: 100%;
    margin-left: 1%;
    height: 350px;
    font-family:helvetica,arial,sans-serif;
}
.footer2{
    width: 98%;
    margin:0 auto;
    text-align: center;
    font-family:helvetica,arial,sans-serif;
}
.footer1>div>a{
   text-decoration: none;
   color: black;
   font-size:smaller;
}
.footer2>p{
    margin-top: 10px;
    font-size: smaller;
}
#logo{
    width: 180px;
    font-size: smaller;
    margin-left:25px;
}
/* #logo1{
    width: 20%;
    border: 1px solid blue;
} */
.Google{
margin-left: 5px;
    margin-top:15px;
}
.social{
    margin-top: 5px;
}
.social>a>img{
    height: 25px;
    width: 25px;
}
