* {
    margin: 0;
    padding: 0;
    font-family: circularairpro-bold,Helvetica,Arial,sans-serif;
  }
  .footerFirst {
    display: grid;
    grid-template-columns: repeat(5, auto);
    width: 98%;
    gap: 10px;
  }
  .footerFirst > div {
    margin-top: 20px;
    width: 100%;
    margin-left: 1%;
    height: 350px;
    font-family: helvetica, arial, sans-serif;
  }
  .footerSecond {
    width: 98%;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    font-family: helvetica, arial, sans-serif;
  }
  .footerFirst > div > a {
    text-decoration: none;
    color: black;
    font-size: smaller;
  }
  .footerSecond > p {
    margin-top: 10px;
    font-size: smaller;
  }
  #logo1 {
    width: 180px;
    font-size: smaller;
    margin-left: 25px;
  }
  #logo1 >img{
    height: 50px;
    width: 140px;
  }
  .GooglePlaystore {
    margin-left: 5px;
    margin-top: -15px;
  }
  .GooglePlaystore >img{
    height: 100px;
    width: 140px;
  }
  .social-icon {
    margin-top: 5px;
    margin-left: 1px;
  }
  .social-icon > a > img {
    
    height: 25px;
    /* height: 25px; */
    width: 24px;
  }
  .TrendingTrips > a {
    text-decoration: none;
    color: black;
  }
 #hrlinecomm{
  width: 90%;
  margin-bottom: 10px;
 }